@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* apply font gotham */
  font-family: "gotham", "sans-serif";
}

/* import font */
@font-face {
  font-family: "gotham";
  src: url("./assets/fonts/gothamrnd_medium.otf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 20px;
  text-align: center;
}
