@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* apply font gotham */
  font-family: "gotham", "sans-serif";
}

/* import font */
@font-face {
  font-family: "gotham";
  src: url("./assets/fonts/gothamrnd_medium.otf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 20px;
  text-align: center;
}

/* swiper pagination style */
.custom-list-swiper .swiper-pagination {
  bottom: 0px !important;
}
.custom-list-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #a454ff !important;
  opacity: 0.3;
  margin: 0 5px !important;
}
.custom-list-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

/* carousel pagination style */
.custom-carousel-swiper {
  padding-top: 15px !important;
  padding-bottom: 50px !important;
}
.custom-carousel-swiper .swiper-pagination {
  position: absolute;
  bottom: 0px !important;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.custom-carousel-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #a454ff !important;
  opacity: 0.3;
  margin: 0 6px !important;
  display: inline-block;
}
.custom-carousel-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}
